<%= content_for :title, "Продвижение, раскрутка сайтов | Digital Shark"%>
<div class="bg"></div>
<div id="rocks_big"></div>
<div id="rocks_small"></div>
<div class="home" id="home">
    <div class="wrapper">
        <div class="welcome">
     	<ol class="breadcrumb breadcrumb-custom">
    		<li><a href="/" data-turbolinks="false">Главная</a></li>
   	    	<li class="active">SEO</li>        
		</ol>
            <h1>
                <span class="red">Продвижение сайтов</span><br>
                 Digital Shark
            </h1>
            <button class="cursor-norm"><a class="no-dec" href="#mobile" data-turbolinks="false">Подробнее</a></button>
        </div>
        <object id="svg-enter" type="image/svg+xml" data="img/enter.svg">Ваш браузер не поддерживает SVG</object>
        <object id="svg-cloud" type="image/svg+xml" data="img/cloud.svg">Ваш браузер не поддерживает SVG</object>
        <object id="svg-moon" type="image/svg+xml" data="img/moon.svg">Ваш браузер не поддерживает SVG</object>
        <div class="clearfix"></div>
    </div>
</div>

<div class="designer des-seo" id="services">
    <div class="wrapper " id="mobile">
        <div class="seo-first-div">
            <h2>SEO продвижение сайта</h2>
            <p>Какие есть альтернативы SEO продвижению?</p> 
            <h2>Можно пытаться продать товар по старинке:</h2>
        </div>

      <div class="clearfix"></div>
      <%=image_tag "girl1.jpg", class: "mobile-img img first-girl-img"%>
  
      <div class="clearfix"></div>

      <div class="">
            <h2>Можно заняться телефонным маркетингом</h2>
       </div>
      <%=image_tag "phone2.jpg", class: "mobile-img img second-girl-img"%>
 <p>Но давайте по-честному! <a  target = "_blank" href="https://ru.wikipedia.org/wiki/%D0%A2%D0%B5%D0%BB%D0%B5%D0%BC%D0%B0%D1%80%D0%BA%D0%B5%D1%82%D0%B8%D0%BD%D0%B3">Телемаркетинг</a> и холодные звонки это уже прошлый век.</p>
       <div class="clearfix"></div>
      <br>
      <div class="">
            <h2>Реклама в яндекс и гугл</h2>
            <p> Вы оплачиваете только посетителей перешедших на ваш сайт. Мы настраиваем яндекс директ и гугл adwords. Подробности <a href="/direct"> здесь </a>
            </p>
       </div>
         
         <div class="clearfix"></div>
         <br>

      <div class="">
            <h2>Продвижение сайта в поисковиках</h2>
            <p> SEO или <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D0%B8%D1%81%D0%BA%D0%BE%D0%B2%D0%B0%D1%8F_%D0%BE%D0%BF%D1%82%D0%B8%D0%BC%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F"> поисковая оптимация </a>, а по-простому продвижение сайта в топ поисковых систем - великолепный инструмент для создания потока клиентов.
            </p>
            <p> Мы разработали уникальную методику, которая позволит вам выйти в топ выдачи за очень короткое время. Вот небольшой пример работы с нашей системой: </p>
       </div>
        <div class="clearfix"></div>

          <%=image_tag "example.jpg", class: "mobile-img img "%>
          <p>Прибыль увеличилась более чем в три раза.</p>
         <div class="clearfix"></div>

        <div class="">
            <p>Но есть одна проблема</p>
            <p> Вот так типичный SEO специалист видит своих клиентов:
            </p>
            <div class="clearfix"></div>
            <%=image_tag "deers.jpg", class: "mobile-img img "%>
            <p>О seo продвижении говорится так будто бы это тайна за семью замками. Будто бы seo продвижение - это дикая черная магия.</p>
            <p> Мы здесь, чтобы расказать вам правду. Нет никакой тайны. Есть четкие алгоритмы, которые позволяют прогнозировать, как скоро у вас будет результат.</p>
        </div>

        <div class="">
        <br>
            <p> Знакомьтесь, это Виталий: 
            </p>
            <%=image_tag "deer1.png", class: "mobile-img img "%>
            <p> Он платит деньги за продвижение уже четыре месяца, а результатов все еще нет. </p>
            <p>У сеошников даже есть общепринятое название его тарифного плана. Называется тарифный план "Надежда". Очень скоро Виталий поймет все сам. </p>
    
            <h2>Что же делать?</h2>
            <p>Мы придумали четкий алогритм, программу, план действий и проводим обучение нашим методикам.</p><p> Раскрываем секреты. Даем наши инструменты. Вы сами можете стать специалистом в SEO продвижении сайтов.
            </p>

            <div class="clearfix"></div>
            <p>Резюмируя все вышесказанное, у вас есть несколько вариантов работы с нами:</p>
            <ul>
                <li>Обучаем вас нашим методикам и даем необходимые инструменты для самостоятельного seo продвижения.
                </li>
                <li>
                    Делаем все сами. Качественно, надежно, дорого. Создаем вам поток клиентов.
                </li>
            </ul>
            <h2>Сколько это будет стоить?</h2>
            <p>Как-то мы мониторили цены на рынок продвижения сайтов в Екатеринбурге. Обзвонили более 50 компаний. Средняя цена за продвижение была в районе 15 тысяч рублей в месяц. И срок от полугода.
            </p>
            <p> Но самое интересное, что мы обнаружили: 75% компаний признались, что позиции сайта слетят после того как мы перестанем им платить за продвижение.</p>
            <p>То есть представляете: полгода платишь чувакам за продвижение, сайт только вывелся в топ(если вывелся). Перестаешь платить и через две недели все. Трындец. Клиенты закончились!</p>
            <p>Проясним реальную ситуацию со срокамими: <br> если домен не был куплен позавчера и уже есть работающий сайт, и seo специалисты не <%=image_tag "g.png"%> (то есть вы у них не на тарифе надежда), можно попасть в топ за пару месяцев. Если домен новый, то придется ждать дольше. </p>
            <p>С ценой все сложнее. Сайт где пять страниц и сайт где страниц 50 будут стоить по-разному.
            </p>
            <p> Но вообще это неправильный вопрос. Правильный вопрос звучит так: насколько увеличится моя прибыль, если у меня будет в три раза больше клиентов?</p>
            <h3>Узнайте, как мы можем помочь создать вам поток клиентов и во сколько раз увеличиться ваша прибыль!</h3>
            <p>Позвоните нам по телефону:+7(992) 334 01 54</p>
            <p>Или напишите на почту: optimagp66@gmail.com</p>
            <p>@jessyjames721 - телеграмм для оперативной связи</p>
            
            <br><br>
        </div>
    </div>
</div><!--end designer-->
